apiVersion: apps/v1
kind: Deployment
metadata:
  name: aspnet-app
  labels:
    app: aspnet-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: aspnet-app
  template:
    metadata:
      labels:
        app: aspnet-app
    spec:
      nodeSelector:
        "kubernetes.io/os": windows
      containers:
      - name: aspnet-app
        image: testreg2010.azurecr.io/aspnet-app:latest
        ports:
        - containerPort: 80
        imagePullPolicy: IfNotPresent
